# Random stuffs
*.swp
*.un~
*.bk
*.log
*.netrwhist

# Directories
config/

# The machine
.vagrant/

# vim sync folder
sync/**/plugged
sync/**/.cache

# vim-plug autoload-file
sync/**/autoload/plug.vim

